@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*Geral*/

.container-geral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Garantir que o contêiner ocupe a altura total da janela */
    padding: 0 50px;
    box-sizing: border-box;

    background-image: url('../../../../assets/images/fundo_cadastro_cliente.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.container-form {
    width: 33%;
    margin-left: 50px;
}

.bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 50%;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 25px 50px 20px 50px;
    border-radius: 20px;
}

.container-label,
.container-label-2,
.form-group {
    margin-bottom: 12px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #b6b2b2;
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.671);
}

.titulo {
    margin-bottom: 10px;
    text-align: center;
    color: #525151;
}

button.enviar {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color: #ec8938;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* Configuração de flexbox para manter as divs lado a lado */

.checkbox-group, .date-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group{
    gap: 5px;
    margin-left: 10px;
}

/*Form group configuration*/

.form-group{
    margin: 10px 0px 5px 0px;
    font-size: 14px;
    color: #525151;
}

.form-group p, #data-n{
    margin-bottom: 12px;
    font-weight: 600;
}

.data-nascimento{
    width: 150px;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px #707070de;
    background-color: rgba(255, 255, 255, 0.671);

}

/*Bem vindo config*/

.bem-vindo h1{
    font-weight: bolder;
    margin: 0;
    font-size: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bem-vindo p{
    font-size: 17px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.bem-vindo button{
    align-self: center;
	font-size: 12px;
	font-weight: bold;
    display: flex;
	
    border-radius: 20px;
    border: 1px solid #001f3f;
    background-color: #001f3f;

	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
}

.bem-vindo button a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 12px 45px;
    border-radius: 20px;
}